{% extends "base.html" %}
{% block title %}Cobra Bank {% endblock %}
{% block content %}

    <div class="transactions" id="transaction">
    
     
      <a class="nav-item nav-link" id="withdrawal" href="/withdrawal">Withdrawal</a>
      <a class="nav-item nav-link" id="deposit" href="/deposit">Deposit</a>
      <a class="nav-item nav-link" id="transfer" href="/transfer">Transfer</a>
      <a class="nav-item nav-link" id="balance" href="/balance">Show Balance</a>
      
     
    </div>

{% endblock%}